<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="com.excelsior.xds.ide.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Excelsior XDS Moduyla-2 development environment"
            name="Excelsior IDE">
            <property name="windowImages" value="icons/xds16.png,icons/xds32.png"/>
            <property name="aboutText" value="%aboutText"/>
            <property name="startupProgressRect" value="0,326,475,15"/>
            <property name="startupMessageRect" value="-1,-1,-1,-1"/>
            <property name="startupForegroundColor" value="FFFF80"/>            
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="appName" value="xds-ide" />
            <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_classic"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.excelsior.xds.ide.startup.StartupHook">
      </startup>
   </extension>
</plugin>